html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mainfont;
    src: url("/fonts/mainfont.ttf") format("truetype");
}

@font-face {
    font-family: bodonimoda;
    src: url("/fonts/bodonimodavariable.ttf") format("truetype");
}
